{% extends 'base.html' %}

{% block body %}
    <div class="container" style="padding-top: 0px; margin: 10px auto 0;">
        <h2>New From</h2>
        <div class="form-container">


        <form class="row g-3" action="" method="POST">
             {% csrf_token %}
            
            <div class="col-md-6">
                 <label for="inputName" class="form-label">Name</label>
                 <input type="text" name="name" class="form-control" id="inputEmail4"  placeholder="Name">
            </div>
            <div class="col-md-6">
                <label for="inputFamily" class="form-label">Family</label>
                <input type="text"  name="family" class="form-control" id="inputPassword4" placeholder="Family">
            </div>
            <div class="col-12">
                 <label for="inputAddress" class="form-label">Address</label>
                 <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Address">
            </div>

  <div class="col-md-6">
    <label for="inputFamily" class="form-label">Phone</label>
    <input type="text"  name="phone" class="form-control" id="inputPassword4" placeholder="Phone">
  </div>
  
  <div class="col-md-6">
  <label for="inputType" class="form-label">Type</label>
    <select  name="btype" id="inputState" class="form-select">
      <option selected>Select...</option>
      <option>Baba</option>
      <option  >Baba Family</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Gotra</label>
    <select id="inputState" name="gotra" class="form-select">
      <option selected>Select...</option>
      {% for result in GotraData %}
      <option>{{result.gotra_name}}</option>
   
      {% endfor %}


    </select>
 
  </div>
 

  <div class="col-12">
    <button type="submit" class="btn btn-warning">Submit</button>
    
  </div>
</form>
          

        </div>

    </div>

{% endblock  %}
